.input-area {
    border: none;
    outline: none;
    width: 100%;
    color:red;
    font-size: 30px;
    cursor: pointer;
    background: grey;
}

.pre-filled {
    color: green;
    font-size: 30px;
}

.finished {
    color: blue;
}